@import '~src/scss/token-theme/utils/variables';

.context-badge {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 6px 18px;
  display: inline-block;

  &.light-green,
  &.active {
    background: $light-green;
  }

  &.pink,
  &.inactive {
    background: $pink;
  }

  &.yellow,
  &.pending {
    background: $yellow;
  }

  &.purple,
  &.complete {
    background: $purple;
  }
}
