.form-navigation {
  padding: 10px 0;
}

.multiple-select-search-option {
  height: 3.5rem !important;
}

.mat-checkbox-layout {
  white-space: normal;
}

.vouchers-count {
  // align for a while with other colors on page
  .table thead th {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }

  .table tbody td {
    color: rgba(0, 0, 0, 0.87);
  }
}

.mobile-content {
  // hide tab header
  .mat-card-content {
    padding-top: 0 !important;

    > .mat-tab-group {
      > .mat-tab-header {
        display: none;
      }
    }
  }
}
