@import '~src/scss/token-theme/utils/rtl-mixins';
@import '~src/scss/token-theme/utils/variables';

.context-badge {
  margin-top: -4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-navigation {
  padding: 10px 0;

  .slide-toggle {
    font-size: 16px;
    @include margin-end(15px);
  }
}

.multiple-select-search-option {
  height: 3.5rem !important;
}

.mat-checkbox-layout {
  white-space: normal;
}

.vouchers-count {
  // align for a while with other colors on page
  .table thead th {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }

  .table tbody td {
    color: rgba(0, 0, 0, 0.87);
  }
}

.mobile-content {
  // hide tab header
  .mat-card-content {
    padding-top: 0 !important;

    > .mat-tab-group {
      > .mat-tab-header {
        display: none;
      }
    }
  }
}

.restriction {
  &-wrapper {
    @include margin-end(15px);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    .fa {
      color: red;
      position: relative;
      top: -2px;
    }
  }

  border: 1px solid $red;
  border-radius: 5px;
  bottom: -7px;
  cursor: not-allowed;
  left: 0;
  position: absolute;
  right: 0;
  top: -7px;
}
