<div class="login-wrapper">
  <div class="login-container">
    <div class="logo-container">
      <img class="token-company-logo"
           src="assets/images/token-company-logo.png?v=1">
    </div>

    <div class="form-container">
      <div class="title-container">
        <h2 class="login-title"
            i18n>Welcome to your community manager</h2>
      </div>

      <div class="title-divider">
        <mat-progress-bar class="loading-bar"
                          mode="indeterminate"
                          [hidden]="!loading"></mat-progress-bar>
      </div>

      <div class="form-holder">
        <form [formGroup]="loginForm"
              (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field class="width-100 form-item">
              <mat-label i18n>Enter Email</mat-label>
              <input matInput
                     id="email"
                     formControlName="Email"
                     required>
              <mat-error>
                <app-error-message controlName="Email"></app-error-message>
                <app-error-message controlName="Email"
                                   key="email"
                                   [template]="emailError"></app-error-message>
                <ng-template #emailError>
                  <span i18n>Please enter a valid email address</span>
                </ng-template>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="width-100 form-item">
              <mat-label i18n>Enter Password</mat-label>
              <input matInput
                     id="password"
                     [type]="revealPasswordField ? 'password' : 'text'"
                     formControlName="Password"
                     required>
              <mat-icon matSuffix
                        class="material-icons-outlined"
                        style="cursor: pointer;"
                        (click)="onTogglePasswordDisplay()">{{revealPasswordField ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error>
                <app-error-message controlName="Password"></app-error-message>
                <app-error-message controlName="Password"
                                   key="minlength"
                                   [template]="minlengthError"></app-error-message>
                <ng-template #minlengthError>
                  <span i18n>Minimum length is 6</span>
                </ng-template>
              </mat-error>
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions class="form-actions">
            <button type="submit"
                    class="btn btn-brand btn-bold"
                    [disabled]="loading">
              <span [hidden]="loading"
                    i18n>Login</span>
              <div *ngIf="loading"
                   class="spinner-with-text justify-content-center">
                <span class="spinner-border"></span>
              </div>
            </button>
          </mat-card-actions>

          <div *ngIf="loginForm.errors?.invalidLogin || !!loginErrorMessage"
               class="mat-error server-error">{{loginErrorMessage}}</div>

        </form>
      </div>
    </div>

    <div class="copyright-container">
      <!-- <p class="support-link">&nbsp;</p> -->
      <p class="copyright-text">Copyright © 2020. All Rights Reserved.</p>
    </div>
  </div>

  <div class="login-logo-wrapper">
    <!-- <img class="login-logo"
         src="assets/images/login-illustration.svg"> -->
  </div>
</div>
