<div class="kt-header-wrapper">
  <div id="kt_header"
       class="kt-header kt-grid__item"
       data-ktheader-minimize="on">
    <!-- begin:: Topbar -->
    <div class="kt-header__topbar">


      <!--begin: Languages -->
      <app-language-switcher></app-language-switcher>

      <!--end: Languages -->
    </div>
    <!-- end:: Topbar -->
  </div>
</div>

<div class="login-wrapper">
  <div class="login-container">
    <div class="logo-container">
      <img class="company-logo"
           src="assets/images/mavn-logo-lowercase.png?v=1">
    </div>

    <div class="form-container">
      <div class="title-container">
        <h2 class="login-title"
            i18n>Welcome to your community manager</h2>
      </div>

      <div class="title-divider">
        <mat-progress-bar class="loading-bar"
                          mode="indeterminate"
                          [hidden]="!loading"></mat-progress-bar>
      </div>

      <div class="form-holder"
           *ngIf="!registerFormActive">
        <form [formGroup]="loginForm"
              (ngSubmit)="onLoginSubmit()">
          <mat-card-content>
            <mat-form-field class="width-100 form-item">
              <mat-label i18n>Enter Email</mat-label>
              <input matInput
                     id="email"
                     formControlName="Email"
                     required>
              <mat-error>
                <app-error-message controlName="Email"></app-error-message>
                <app-error-message controlName="Email"
                                   key="email"
                                   [template]="emailError"></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="width-100 form-item">
              <mat-label i18n>Enter Password</mat-label>
              <input matInput
                     id="password"
                     [type]="revealPasswordField ? 'password' : 'text'"
                     formControlName="Password"
                     required>
              <mat-icon matSuffix
                        class="material-icons-outlined"
                        style="cursor: pointer;"
                        (click)="onTogglePasswordDisplay()">{{revealPasswordField ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error>
                <app-error-message controlName="Password"></app-error-message>
                <app-error-message controlName="Password"
                                   key="minlength"
                                   [template]="minlengthError"></app-error-message>
                <ng-template #minlengthError>
                  <span i18n>Minimum length is 6</span>
                </ng-template>
              </mat-error>
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions class="form-actions">
            <p class="register-btn"
               (click)="changeForms()">
              <span i18n>Register new account</span>
            </p>

            <button type="submit"
                    class="btn btn-brand btn-bold"
                    [disabled]="loading">
              <span [hidden]="loading"
                    i18n>Login</span>
              <div *ngIf="loading"
                   class="spinner-with-text justify-content-center">
                <span class="spinner-border"></span>
              </div>
            </button>
          </mat-card-actions>

          <div *ngIf="loginForm.errors?.invalidLogin || !!loginErrorMessage"
               class="mat-error server-error">{{loginErrorMessage}}</div>

        </form>
      </div>

      <div class="form-holder form-holder--registration"
           *ngIf="registerFormActive">
        <form [formGroup]="registerForm"
              (ngSubmit)="onRegisterSubmit()">
          <mat-card-content>
            <div class="width-100 form-item form-item--registration">
              <div class="alert alert-outline-danger fade show"
                   role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text kt-font-bolder"
                     i18n>Coming soon!</div>
              </div>
            </div>
            <mat-form-field class="width-100 form-item form-item--registration">
              <mat-label i18n>Company Name</mat-label>
              <input matInput
                     id="CompanyName"
                     formControlName="CompanyName"
                     required>
              <mat-error>
                <app-error-message controlName="CompanyName"></app-error-message>
                <app-error-message controlName="CompanyName"
                                   key="length"
                                   [template]="lengthError"
                                   [templateContext]="{$implicit: {min: 3, max: 255}}"></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="width-100 form-item form-item--registration">
              <mat-label i18n>Email</mat-label>
              <input matInput
                     id="email"
                     formControlName="Email"
                     autocomplete="new-password"
                     required>
              <mat-error>
                <app-error-message controlName="Email"></app-error-message>
                <app-error-message controlName="Email"
                                   key="email"
                                   [template]="emailError"></app-error-message>
                <app-error-message controlName="Email"
                                   key="length"
                                   [template]="lengthError"
                                   [templateContext]="{$implicit: {min: 1, max: 255}}"></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="width-100 form-item form-item--registration">
              <mat-label i18n>Enter Password</mat-label>
              <input matInput
                     id="Password"
                     [type]="revealPasswordField ? 'password' : 'text'"
                     formControlName="Password"
                     autocomplete="new-password"
                     required>
              <mat-icon matSuffix
                        class="material-icons-outlined"
                        style="cursor: pointer;"
                        (click)="onTogglePasswordDisplay()">{{revealPasswordField ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error>
                <app-error-message controlName="Password"></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="width-100 form-item form-item--registration">
              <mat-label i18n>Repeat Password</mat-label>
              <input matInput
                     id="RepeatPassword"
                     [type]="revealRepeatPasswordField ? 'password' : 'text'"
                     formControlName="RepeatPassword"
                     required>
              <mat-icon matSuffix
                        class="material-icons-outlined"
                        style="cursor: pointer;"
                        (click)="onToggleRepeatPasswordDisplay()">
                {{revealRepeatPasswordField ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error>
                <app-error-message controlName="Password"></app-error-message>
              </mat-error>
            </mat-form-field>

            <div class="width-100 form-item form-item--registration password-requirements">
              <p i18n>Password requirements:</p>
              <ul>
                <li>
                  <span [ngClass]="{'invalid-rule': invalidPasswordRules.passwordNotEqualled}"
                        i18n>Passwords must match</span>
                </li>
                <li>
                  <span [ngClass]="{'invalid-rule': invalidPasswordRules.length || invalidPasswordRules.required}"
                        i18n>{{rules.MinLength}} - {{rules.MaxLength}} symbols</span>
                </li>

                <li>
                  <span [ngClass]="{'invalid-rule': invalidPasswordRules.invalidUpperCase}"
                        i18n>Min {{rules.MinUpperCase}} uppercase letter</span>,
                  <span [ngClass]="{'invalid-rule': invalidPasswordRules.invalidLowerCase}"
                        i18n>{{rules.MinLowerCase}} lowercase letter</span>
                </li>

                <li>
                  <span [ngClass]="{'invalid-rule': invalidPasswordRules.invalidSpecialSymbols}"
                        i18n>Min {{rules.MinSpecialSymbols}} special symbol ({{rules.AllowedSpecialSymbols}})</span>,
                  <span [ngClass]="{'invalid-rule': invalidPasswordRules.invalidDigits}"
                        i18n>{{rules.MinNumbers}} number</span>
                </li>
              </ul>
            </div>


          </mat-card-content>

          <mat-card-actions class="form-actions">
            <p class="register-btn"
               (click)="changeForms()">
              <span i18n>Already have an account?</span>
            </p>

            <button type="submit"
                    class="btn btn-brand btn-bold"
                    [disabled]="loading || true">
              <span [hidden]="loading || true"
                    i18n>Register</span>&nbsp;
              <span i18n>Coming soon!</span>
              <div *ngIf="loading"
                   class="spinner-with-text justify-content-center">
                <span class="spinner-border"></span>
              </div>
            </button>
          </mat-card-actions>

          <div *ngIf="registerForm.errors?.invalidLogin || !!registerErrorMessage"
               class="mat-error server-error">{{registerErrorMessage}}</div>

        </form>
      </div>
    </div>

    <div class="copyright-container">
      <!-- <p class="support-link">&nbsp;</p> -->
      <p class="copyright-text">Copyright © 2020. All Rights Reserved.</p>
    </div>
  </div>

  <div class="login-logo-wrapper"
       style="background-image: url('assets/images/login-illustration.svg')">
    <!-- <img class="login-logo"
         src="assets/images/login-illustration.svg"> -->
  </div>
</div>

<ng-template #emailError>
  <span i18n>Please enter a valid email address</span>
</ng-template>

<ng-template #lengthError
             let-ctx>
  <div i18n>Field has to be between {{ctx.min}} and {{ctx.max}} characters long</div>
</ng-template>
