<ng-template #subHeaderTemplate>
  <div class="kt-subheader kt-grid__item"
       id="kt_subheader">
    <div class="kt-container kt-container--fluid">
      <div class="kt-subheader__main">
        <div class="kt-subheader__toolbar"
             id="kt_subheader_search">
          <span class="kt-subheader__desc"
                id="kt_subheader_total"
                i18n>Enter Voucher Campaign details</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet">
    <div class="kt-portlet__body">
      <app-smart-voucher-form (submitSuccess)="onFormSubmit($event)"
                                  [isSaving]="isLoading"
                                  ></app-smart-voucher-form>

      <div class="spinner-container"
           *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>

<div #headerTitle
     hidden
     i18n>New voucher campaign</div>
