<div class="small-chart-container">
  <div class="small-chart-item"
        *ngFor="let smallGraphicItem of smallGraphicItems; let itemIndex = index;"
       [matTooltip]="smallGraphicItem.tooltip"
       matTooltipPosition="above">
    <div class="small-chart-item-left">
      <p class="small-chart-item-title" i18n>{{ smallGraphicItem.title }}</p>
      <p class="small-chart-item-number" [ngClass]="{'with-background': shouldShowChart(smallGraphicItem)}">
        <span *ngIf="shouldShowChart(smallGraphicItem)">+</span>{{ smallGraphicItem.number | number : '1.0-0' }}
      </p>
    </div>
    <div class="small-chart-item-right" *ngIf="showPercentage">
      <ng-template [ngIf]="!shouldShowChart(smallGraphicItem)">
        <div class="plain-line-graphic">
          <div class="plain-line-graphic-colored color-{{ smallGraphicItem.color }}" [ngStyle]="{'height': (smallGraphicItem.percentage > 100 ? 100 : smallGraphicItem.percentage) + '%'}"></div>
        </div>
        <p class="plain-line-percentage">
          {{ smallGraphicItem.percentage | number : '1.0-0' }}%
        </p>
      </ng-template>
      <ng-template [ngIf]="shouldShowChart(smallGraphicItem)">
          <canvas id="small-line-chart-{{ itemIndex }}"
          style="height: 56px;"></canvas>
      </ng-template>
    </div>
  </div>
</div>
