<ng-template #subHeaderTemplate>
  <div class="kt-subheader kt-grid__item"
       id="kt_subheader">
    <div class="kt-container kt-container--fluid">
      <div class="kt-subheader__main">
        <div class="kt-subheader__toolbar"
             id="kt_subheader_search">
          <span class="kt-subheader__desc"
                id="kt_subheader_total"
                i18n>List of Voucher Campaigns in OpenMAVN program</span>
        </div>
      </div>

      <div class="kt-subheader__toolbar">
        <a id="btn-add-smart-voucher"
           [hidden]="!hasEditPermission"
           class="btn btn-brand btn-bold"
           routerLink="add-smart-voucher"
           [state]="{ page: currentPage, pageSize: pageSize }">
          <span i18n>New Voucher Campaign</span>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <div class="spinner-container"
             [hidden]="!isLoading || !isSearching">
          <div class="spinner-border"></div>
        </div>
        <h3 class="kt-portlet__head-title"
            [hidden]="isLoading || isSearching"
            i18n>{{totalCount}} total voucher campaigns</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="spinner-wrapper">
        <div class="spinner-container spinner-container--top"
             [hidden]="!isSearching">
          <mat-spinner class="margin-0-auto"></mat-spinner>
        </div>
      </div>

      <div class="table-wrapper">
        <table id="smart-voucher-list-table"
               class="table table-hover">
          <thead>
            <tr>
              <th>
                <div>
                  <div>
                    <span i18n>Name</span>
                    <mat-icon class="btn-toggle-search"
                              (click)="toggleSearchTitle()">search</mat-icon>
                  </div>
                  <div class="column-filter-wrapper"
                       [class.filter-visible]="isVisibleSearchTitle"
                       style="width: 230px;">
                    <mat-form-field appearance="outline"
                                    class="width-100">
                      <input id="tb-search-title"
                             type="text"
                             matInput
                             placeholder="Search"
                             i18n-placeholder
                             [(ngModel)]="searchTitleValue"
                             (ngModelChange)="searchTitleValueChanged()"
                             (keydown.enter)="searchTitle()">
                      <mat-icon id="btn-search-title"
                                class="btn-search"
                                matSuffix
                                (click)="searchTitle()">search</mat-icon>
                      <mat-icon id="btn-clear-title"
                                class="btn-clear"
                                *ngIf="searchTitleValue"
                                matSuffix
                                (click)="clearTitle()">clear</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </th>
              <th style="width: 150px"
                  class="text-right"
                  i18n>Amount of Vouchers</th>
              <th style="width: 150px"
                  class="text-right"
                  i18n>Bought Vouchers</th>
              <th style="width: 150px"
                  class="text-right"
                  i18n>Voucher Price</th>
              <th style="width: 100px"
                  i18n>Currency</th>
              <th style="width: 120px"
                  i18n>Start Date</th>
              <th style="width: 120px"
                  i18n>End Date</th>
              <th style="width: 120px"
                  i18n>Creation Date</th>
              <th style="width: 100px"
                  i18n>Status</th>
              <th style="width: 90px; padding-right: 20px"
                  class="text-right"
                  i18n>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campaign of campaigns; let i = index"
                class="data-row-{{i}}">
              <td data-id="name">
                <span>{{campaign.Name}}</span>
              </td>
              <td data-id="VouchersTotalCount"
                  class="text-right">
                <span>{{campaign.VouchersTotalCount}}</span>
              </td>
              <td data-id="BoughtVouchersCount"
                  class="text-right">
                <span>{{campaign.BoughtVouchersCount}}</span>
              </td>
              <td data-id="VoucherPrice"
                  class="text-right">
                <span>{{campaign.VoucherPrice | number}}</span>
              </td>
              <td data-id="Currency">
                <span>{{campaign.Currency}}</span>
              </td>
              <td data-id="FromDate">
                <span>{{campaign.FromDate | date:'dd/MM/yyyy'}}</span>
              </td>
              <td data-id="ToDate">
                <span>{{campaign.ToDate | date:'dd/MM/yyyy'}}</span>
              </td>
              <td data-id="creationDate">
                <span>{{campaign.CreationDate | date:'dd/MM/yyyy'}}</span>
              </td>
              <td data-id="status">
                <span class="kt-badge kt-badge--dot kt-badge--md"
                      [ngClass]="{Draft:'kt-badge--gray',Published:'kt-badge--active'}[campaign.State]"></span>

                <ng-container [ngSwitch]="campaign.State">
                  <ng-container *ngSwitchCase="SmartVoucherCampaignState.Draft">
                    <span i18n>Draft</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="SmartVoucherCampaignState.Published">
                    <span i18n>Published</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="SmartVoucherCampaignState.Deleted">
                    <span i18n>Deleted</span>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <span i18n>Unknown</span>
                  </ng-container>
                </ng-container>
              </td>
              <td data-id="actions"
                  class="text-right">
                <a [routerLink]="['edit-smart-voucher', campaign.Id]"
                   [state]="{ page: currentPage, pageSize: pageSize }"
                   matTooltip="Edit"
                   i18n-matTooltip
                   class="btn btn-sm btn-clean btn-icon btn--row-action">
                  <mat-icon class="material-icons"
                            *ngIf="!hasEditPermission">visibility</mat-icon>
                  <mat-icon class="material-icons-outlined"
                            *ngIf="hasEditPermission">edit</mat-icon>
                </a>

                <a (click)="deleteCampaign(campaign)"
                   [hidden]="!hasEditPermission"
                   href="javascript:void(0);"
                   matTooltip="Delete"
                   i18n-matTooltip
                   class="btn btn-sm btn-clean btn-icon btn--row-action">
                  <mat-icon class="material-icons-outlined">delete</mat-icon>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="spinner-wrapper">
        <div class="spinner-container spinner-container"
             *ngIf="isLoading">
          <div class="spinner-border"></div>
        </div>
      </div>

      <div class="table-states-container text-center">
        <ng-container *ngIf="!isLoading && !isSearching && campaigns.length === 0">
          <span *ngIf="!searchTitleValue"
                i18n>There are no Voucher Campaigns, please create one</span>
          <span *ngIf="searchTitleValue"
                i18n>Voucher Campaign not found</span>
        </ng-container>
      </div>

      <app-pagination-container [totalCount]="totalCount"
                                [currentPage]="currentPage"
                                [pageSize]="initialPageSize"
                                (paginationEvent)="onPaginationChangeEvent($event)"></app-pagination-container>

    </div>
  </div>
</div>

<div #headerTitle
     hidden
     i18n>Voucher Campaigns</div>

<div #deletePrompt
     hidden
     ngNonBindable
     i18n>Do you want to delete the voucher campaign "{{name}}"?</div>

<div #deletedMessage
     hidden
     i18n>Voucher campaign has been deleted successfully.</div>
