<mat-card [formGroup]="campaign.campaignForm">
  <mat-card-title>
    <div class="d-flex">
      <span i18n>Base award</span>
      <span>&nbsp;</span>
      <span [hidden]="!campaign.bonusTypeHint"
            style="height: 24px;">
        <mat-icon class="material-icons-outlined"
                  style="cursor: pointer"
                  [matTooltip]="campaign.bonusTypeHint">help_outline</mat-icon>
      </span>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- hide Conversion rate for now
    <div class="row">
      <div class="spinner-container col-lg-12"
           *ngIf="campaign.isLoadingRate && campaign.isConversionRateRewardType">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    -->

    <!-- <div>{{campaign.campaignForm.get(campaign.campaignFormProps.Reward).errors | json}}</div> -->

    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <mat-form-field appearance="outline"
                        class="width-100">
          <mat-label i18n>Type of award</mat-label>
          <mat-select formControlName="RewardType"
                      placeholder="Type of award"
                      i18n-placeholder
                      matTooltip="Fixed award/Percentage award (“Percentage” option is available only for events where amount/purchase is involved)"
                      i18n-matTooltip
                      required>
            <mat-option *ngFor="let rewardType of campaign.rewardTypes"
                        [disabled]="campaign.isRewardTypeOfPercentageOptionDisabled(rewardType.Type, 0)"
                        [value]="rewardType.Type">
              {{rewardType.DisplayName}}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-error-message controlName="RewardType"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-2 col-lg-6"
           *ngIf="campaign.isFixedRewardType">
        <mat-form-field appearance="outline"
                        class="width-100">
          <mat-label>
            <span i18n>Amount of award, {{campaign.tokenSymbol}}</span>
          </mat-label>
          <input matInput
                 formControlName="Reward"
                 placeholder="Amount of award, {{campaign.tokenSymbol}}"
                 i18n-placeholder
                 type="text"
                 matTooltip="Value of the fixed award"
                 i18n-matTooltip
                 required>
          <mat-error>
            <app-error-message controlName="Reward"></app-error-message>
            <app-error-message controlName="Reward"
                               key="moneyFormat"
                               [template]="campaign.templates.moneyFormatError"></app-error-message>
            <app-error-message controlName="Reward"
                               key="moneyMinZero"
                               [template]="campaign.templates.minNumberError"
                               [templateContext]="{$implicit: {min: 0}}"></app-error-message>
            <app-error-message controlName="Reward"
                               key="moneyMinMoreZero"
                               [template]="campaign.templates.minMoreZeroNumberError"></app-error-message>
            <app-error-message controlName="Reward"
                               key="moneyMaxNumber"
                               [template]="campaign.templates.maxNumberError"
                               [templateContext]="{$implicit: {max: campaign.TOKENS_INPUT_MAX_NUMBER}}">
            </app-error-message>
            <app-error-message controlName="Reward"
                               key="accuracy"
                               [template]="campaign.templates.invalidAccuracyError"
                               [templateContext]="{$implicit: {accuracy: campaign.TOKENS_INPUT_ACCURACY}}">
            </app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-2 col-lg-6"
           *ngIf="campaign.isPercentageRewardType">
        <mat-form-field appearance="outline"
                        class="width-100">
          <mat-label i18n>Award, %</mat-label>
          <input matInput
                 formControlName="Reward"
                 placeholder="Award, %"
                 i18n-placeholder
                 type="number"
                 min="0"
                 max="100"
                 [step]="campaign.PERCENTAGE_INPUT_MIN_NUMBER"
                 required>
          <mat-error>
            <app-error-message controlName="Reward"></app-error-message>
            <app-error-message controlName="Reward"
                               key="min"
                               [template]="campaign.templates.minNumberError"
                               [templateContext]="{$implicit: {min: campaign.PERCENTAGE_INPUT_MIN_NUMBER}}">
            </app-error-message>
            <app-error-message controlName="Reward"
                               key="max"
                               [template]="campaign.templates.maxNumberError"
                               [templateContext]="{$implicit: {max: 100}}"></app-error-message>
            <app-error-message controlName="Reward"
                               key="accuracy"
                               [template]="campaign.templates.invalidAccuracyError"
                               [templateContext]="{$implicit: {accuracy: campaign.PERCENTAGE_INPUT_ACCURACY}}">
            </app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Approximate award -->
      <div class="col-xl-2 col-lg-6"
           *ngIf="campaign.isApproximate">
        <mat-form-field appearance="outline"
                        class="width-100">
          <mat-label i18n>Approximate award, {{campaign.tokenSymbol}}</mat-label>
          <input matInput
                 formControlName="ApproximateAward"
                 placeholder="Approximate Award, {{campaign.tokenSymbol}}"
                 i18n-placeholder
                 type="text"
                 matTooltip="Estimation value, will be displayed on the mobile app (average and preliminary forecast of what the customer is going to get as award when participating in this action rule)"
                 i18n-matTooltip
                 required>
          <mat-error>
            <app-error-message controlName="ApproximateAward"></app-error-message>
            <app-error-message controlName="ApproximateAward"
                               key="moneyFormat"
                               [template]="campaign.templates.moneyFormatError"></app-error-message>
            <app-error-message controlName="ApproximateAward"
                               key="moneyMinZero"
                               [template]="campaign.templates.minNumberError"
                               [templateContext]="{$implicit: {min: 0}}"></app-error-message>
            <app-error-message controlName="ApproximateAward"
                               key="moneyMinMoreZero"
                               [template]="campaign.templates.minMoreZeroNumberError"></app-error-message>
            <app-error-message controlName="ApproximateAward"
                               key="moneyMaxNumber"
                               [template]="campaign.templates.maxNumberError"
                               [templateContext]="{$implicit: {max: campaign.TOKENS_INPUT_MAX_NUMBER}}">
            </app-error-message>
            <app-error-message controlName="ApproximateAward"
                               key="accuracy"
                               [template]="campaign.templates.invalidAccuracyError"
                               [templateContext]="{$implicit: {accuracy: campaign.TOKENS_INPUT_ACCURACY}}">
            </app-error-message>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- hide Conversion rate for now
      <div class="col-xl-8"
           *ngIf="campaign.isConversionRateRewardType">
        <div class="row">
          <div class="col-lg-4">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label>
                <span i18n>Amount, {{campaign.tokenSymbol}}</span>
              </mat-label>
              <input matInput
                     formControlName="AmountInTokens"
                     type="text"
                     required>
              <mat-error>
                <app-error-message controlName="AmountInTokens"></app-error-message>
                <app-error-message controlName="AmountInTokens"
                                   key="moneyFormat"
                                   [template]="campaign.templates.moneyFormatError"></app-error-message>
                <app-error-message controlName="AmountInTokens"
                                   key="moneyMinMoreZero"
                                   [template]="campaign.templates.minMoreZeroNumberError"></app-error-message>
                <app-error-message controlName="AmountInTokens"
                                   key="moneyMaxNumber"
                                   [template]="campaign.templates.maxNumberError"
                                   [templateContext]="{$implicit: {max: campaign.TOKENS_INPUT_MAX_NUMBER}}">
                </app-error-message>
                <app-error-message controlName="AmountInTokens"
                                   key="accuracy"
                                   [template]="campaign.templates.invalidAccuracyError"
                                   [templateContext]="{$implicit: {accuracy: campaign.TOKENS_INPUT_ACCURACY}}">
                </app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label>
                <span i18n>Amount, {{baseCurrencyCode}}</span>
              </mat-label>
              <input matInput
                     formControlName="AmountInCurrency"
                     type="number"
                     [min]="campaign.CURRENCY_INPUT_MIN_NUMBER"
                     [step]="campaign.CURRENCY_INPUT_MIN_NUMBER"
                     required>
              <mat-error>
                <app-error-message controlName="AmountInCurrency"></app-error-message>
                <app-error-message controlName="AmountInCurrency"
                                   key="min"
                                   [template]="campaign.templates.minNumberError"
                                   [templateContext]="{$implicit: {min: campaign.CURRENCY_INPUT_MIN_NUMBER}}">
                </app-error-message>
                <app-error-message controlName="AmountInCurrency"
                                   key="max"
                                   [template]="campaign.templates.maxNumberError"
                                   [templateContext]="{$implicit: {max: campaign.CURRENCY_INPUT_MAX_NUMBER}}">
                </app-error-message>
                <app-error-message controlName="AmountInCurrency"
                                   key="accuracy"
                                   [template]="campaign.templates.invalidAccuracyError"
                                   [templateContext]="{$implicit: {accuracy: campaign.CURRENCY_INPUT_ACCURACY}}">
                </app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 use-global-rate">
            <mat-checkbox formControlName="UsePartnerCurrencyRate">
              <span i18n>Use Partner/Global Rate</span>
            </mat-checkbox>
          </div>
        </div>

        <div class="row"
             *ngIf="campaign.campaignForm.get(campaign.campaignFormProps.UsePartnerCurrencyRate).value">
          <div class="col-md-12"
               style="font-style: italic; margin-bottom: 16px;">
            <span i18n>Partner rate will be used as a priority. If no one Partner is attached to the action
              rule, the Global rate would be applied.</span>
          </div>
        </div>
      </div>
      -->

    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <mat-form-field appearance="outline"
                        class="width-100">
          <mat-label i18n>Participation Limit per Customer</mat-label>
          <mat-select id="completionType"
                      formControlName="CompletionType"
                      placeholder="Participation Limit per Customer"
                      matTooltip="How much times a customer can participate in the action rule"
                      i18n-matTooltip
                      i18n-placeholder
                      required>
            <mat-option *ngFor="let completionType of campaign.completionTypes"
                        [value]="completionType.Type">
              {{completionType.DisplayName}}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-error-message controlName="CompletionType"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-2 col-lg-6">
        <mat-form-field appearance="outline"
                        class="width-100"
                        *ngIf="campaign.isCompletionCountAllowed()">
          <mat-label i18n>Usage limit condition</mat-label>
          <input matInput
                 formControlName="CompletionCount"
                 placeholder="Usage limit condition"
                 i18n-placeholder
                 type="number"
                 required
                 min="1"
                 step="1">
          <mat-error>
            <app-error-message controlName="CompletionCount"></app-error-message>
            <app-error-message controlName="CompletionCount"
                               key="min"
                               [template]="campaign.templates.minNumberError"
                               [templateContext]="{$implicit: {min: 1}}">
            </app-error-message>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
