<form [formGroup]="partnerForm"
      (ngSubmit)="onSubmit()"
      class="basic-campaign-form">
  <mat-card>
    <mat-card-title>
      <span class=""
            i18n>Basic Information</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label [hidden]="!isPartnerAdmin"
                       i18n>Business Unit Name</mat-label>
            <mat-label [hidden]="isPartnerAdmin"
                       i18n>Program Member Name</mat-label>
            <input matInput
                   formControlName="Name"
                   required>
            <mat-error>
              <app-error-message controlName="Name"></app-error-message>
              <app-error-message controlName="Name"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 3, max: 50}}">
              </app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Business Vertical</mat-label>
            <mat-select formControlName="BusinessVertical"
                        placeholder="Business Vertical"
                        i18n-placeholder
                        required>
              <mat-option *ngFor="let vertical of businessVerticalTypes"
                          [value]="vertical.Type">{{vertical.DisplayName}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message controlName="BusinessVertical"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="outline"
                      class="width-100">
        <mat-label i18n>Description</mat-label>
        <textarea matInput
                  formControlName="Description"
                  i18n-placeholder
                  placeholder="Description"
                  style="min-height: 60px">
                </textarea>
        <mat-error>
          <app-error-message controlName="Description"
                             key="length"
                             [template]="templates.lengthError"
                             [templateContext]="{$implicit: {min: 3, max: 1000}}"></app-error-message>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title class="d-flex justify-content-between align-items-center">
      <span class=""
            i18n>Locations</span>
      <button mat-button
              type="button"
              color="primary"
              class="font-weight-bold text-uppercase letter-spacing-1-3"
              [disabled]="locationsFormArray.disabled"
              (click)="onAddLocation()">
        <mat-icon>add</mat-icon>
        <span i18n>Add Location</span>
      </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content formArrayName="Locations"
                      id="locations">
      <div [formGroup]="location"
           *ngFor="let location of locationsFormArray.controls; let index = index;">

        <mat-grid-list *ngIf="index > 0"
                       cols="5"
                       rowHeight="15px">
          <mat-divider inset="true"></mat-divider>
        </mat-grid-list>

        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Name</mat-label>
              <input matInput
                     id="locationName"
                     formControlName="Name"
                     required>
              <mat-error>
                <app-error-message controlName="Name"></app-error-message>
                <app-error-message controlName="Name"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 3, max: 100}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Address</mat-label>
              <input matInput
                     id="address"
                     formControlName="Address"
                     required>
              <mat-error>
                <app-error-message controlName="Address"></app-error-message>
                <app-error-message controlName="Address"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 3, max: 100}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <!--  hide ExternalId and AccountingIntegrationCode fields for now-->
          <!--          <div class="col-xl-3 col-lg-4 col-md-6">-->
          <!--            <mat-form-field appearance="outline"-->
          <!--                            class="width-100">-->
          <!--              <mat-label i18n>External ID</mat-label>-->
          <!--              <input matInput-->
          <!--                     id="externalId"-->
          <!--                     formControlName="ExternalId"-->
          <!--                     required>-->
          <!--              <mat-error>-->
          <!--                <app-error-message controlName="ExternalId"></app-error-message>-->
          <!--                <app-error-message controlName="ExternalId"-->
          <!--                                   key="length"-->
          <!--                                   [template]="templates.lengthError"-->
          <!--                                   [templateContext]="{$implicit: {min: 1, max: 80}}"></app-error-message>-->
          <!--              </mat-error>-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
          <!--          <div class="col-xl-3 col-lg-4 col-md-6">-->
          <!--            <mat-form-field appearance="outline"-->
          <!--                            class="width-100">-->
          <!--              <mat-label i18n>Accounting Integration Code</mat-label>-->
          <!--              <input matInput-->
          <!--                     id="externalId"-->
          <!--                     formControlName="AccountingIntegrationCode"-->
          <!--                     required>-->
          <!--              <mat-error>-->
          <!--                <app-error-message controlName="AccountingIntegrationCode"></app-error-message>-->
          <!--                <app-error-message controlName="AccountingIntegrationCode"-->
          <!--                                   key="length"-->
          <!--                                   [template]="templates.lengthError"-->
          <!--                                   [templateContext]="{$implicit: {min: 1, max: 80}}"></app-error-message>-->
          <!--              </mat-error>-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
        </div>
        <div style="height: 30px;">
          <span i18n>- Contact Person Details ------</span>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>First Name</mat-label>
              <input matInput
                     formControlName="FirstName"
                     required>
              <mat-error>
                <app-error-message controlName="FirstName"></app-error-message>
                <app-error-message controlName="FirstName"
                                   key="text"
                                   [template]="onlyLetters"></app-error-message>
                <app-error-message controlName="FirstName"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 2, max: 50}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Last Name</mat-label>
              <input matInput
                     formControlName="LastName"
                     required>
              <mat-error>
                <app-error-message controlName="LastName"></app-error-message>
                <app-error-message controlName="LastName"
                                   key="text"
                                   [template]="onlyLetters"></app-error-message>
                <app-error-message controlName="LastName"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 2, max: 50}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Phone Number</mat-label>
              <input matInput
                     type="tel"
                     formControlName="Phone"
                     required>
              <mat-error>
                <app-error-message controlName="Phone"></app-error-message>
                <app-error-message controlName="Phone"
                                   key="phone"
                                   [template]="phoneNumberError"></app-error-message>
                <app-error-message controlName="Phone"
                                   key="phone"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 3, max: 50}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Email</mat-label>
              <input matInput
                     type="email"
                     formControlName="Email"
                     required>
              <mat-error>
                <app-error-message controlName="Email"></app-error-message>
                <app-error-message controlName="Email"
                                   key="email"
                                   [template]="emailError"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-12 text-right location-delete">
            <button *ngIf="index > 0"
                    mat-button
                    color="primary"
                    type="button"
                    (click)="onRemoveLocation(index)">
              <span class="text-uppercase letter-spacing-1-3 font-weight-bold"
                    i18n>Delete Location</span>
            </button>
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="d-flex justify-content-between align-items-center">
      <span class=""
            i18n>Payment integrations</span>
      <button mat-button
              type="button"
              color="primary"
              class="font-weight-bold text-uppercase letter-spacing-1-3"
              [disabled]="paymentIntegrationsFormArray.disabled"
              (click)="onAddPaymentProviders()">
        <mat-icon>add</mat-icon>
        <span i18n>Add Payment</span>
      </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content formArrayName="PaymentIntegrations"
                      id="payment-integrations">
      <div [formGroup]="payment"
           *ngFor="let payment of paymentIntegrationsFormArray.controls; let index = index;">

        <mat-grid-list *ngIf="index > 0"
                       cols="5"
                       rowHeight="15px">
          <mat-divider inset="true"></mat-divider>
        </mat-grid-list>

        <div class="row">
          <div *ngIf="isLoadingProviders">
            <div class="text-center">
              <div class="spinner-border"></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Payment Providers</mat-label>
              <mat-select formControlName="PaymentProviders"
                          placeholder="Payment Providers"
                          i18n-placeholder
                          required>
                <mat-option *ngFor="let provider of paymentProviders" [value]='provider.PaymentProvider'>{{provider.PaymentProvider}}</mat-option>
              </mat-select>
              <mat-error>
                <app-error-message controlName="PaymentProviders"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Instance Name</mat-label>
              <input matInput
                     id="instance-name"
                     formControlName="InstanceName"
                     required>
              <mat-error>
                <app-error-message controlName="InstanceName"></app-error-message>
                <app-error-message controlName="InstanceName"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 3, max: 50}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Api key</mat-label>
              <input matInput
                     id="api-key"
                     formControlName="ApiKey"
                     required>
              <mat-error>
                <app-error-message controlName="Address"></app-error-message>
                <app-error-message controlName="Address"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 3, max: 100}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-12 text-right location-delete">
            <button *ngIf="index > 0"
                    mat-button
                    color="primary"
                    type="button"
                    (click)="onRemovePayment(index)">
              <span class="text-uppercase letter-spacing-1-3 font-weight-bold"
                    i18n>Delete Payment</span>
            </button>
          </div>
        </div>
        <!-- <div style="height: 30px;">
          <span i18n>- Contact Person Details ------</span>
        </div> -->
        <!-- <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>First Name</mat-label>
              <input matInput
                     formControlName="FirstName"
                     required>
              <mat-error>
                <app-error-message controlName="FirstName"></app-error-message>
                <app-error-message controlName="FirstName"
                                   key="text"
                                   [template]="onlyLetters"></app-error-message>
                <app-error-message controlName="FirstName"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 2, max: 50}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Last Name</mat-label>
              <input matInput
                     formControlName="LastName"
                     required>
              <mat-error>
                <app-error-message controlName="LastName"></app-error-message>
                <app-error-message controlName="LastName"
                                   key="text"
                                   [template]="onlyLetters"></app-error-message>
                <app-error-message controlName="LastName"
                                   key="length"
                                   [template]="templates.lengthError"
                                   [templateContext]="{$implicit: {min: 2, max: 50}}"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <mat-form-field appearance="outline"
                            class="width-100">
              <mat-label i18n>Email</mat-label>
              <input matInput
                     type="email"
                     formControlName="Email"
                     required>
              <mat-error>
                <app-error-message controlName="Email"></app-error-message>
                <app-error-message controlName="Email"
                                   key="email"
                                   [template]="emailError"></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-12 text-right location-delete">
            <button *ngIf="index > 0"
                    mat-button
                    color="primary"
                    type="button"
                    (click)="onRemoveLocation(index)">
              <span class="text-uppercase letter-spacing-1-3 font-weight-bold"
                    i18n>Delete Location</span>
            </button>
          </div>
        </div> -->

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card hidden>
    <mat-card-title>
      <span i18n>Conversion Rate</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="row">
        <div class="spinner-container col-lg-9 col-md-12"
             *ngIf="!globalRate">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 conversion-rate-text">
          <span i18n>{{partnerForm.get('AmountInTokens').value | token}} {{assetSymbol}} to
            {{partnerForm.get('AmountInCurrency').value | number}} {{baseCurrencyCode}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label>
              <span i18n>Amount, {{assetSymbol}}</span>
            </mat-label>
            <input matInput
                   formControlName="AmountInTokens"
                   type="text"
                   required>
            <mat-error>
              <app-error-message controlName="AmountInTokens"></app-error-message>
              <app-error-message controlName="AmountInTokens"
                                 key="moneyFormat"
                                 [template]="templates.moneyFormatError"></app-error-message>
              <app-error-message controlName="AmountInTokens"
                                 key="moneyMinMoreZero"
                                 [template]="templates.minMoreZeroNumberError"></app-error-message>
              <app-error-message controlName="AmountInTokens"
                                 key="moneyMaxNumber"
                                 [template]="templates.maxNumberError"
                                 [templateContext]="{$implicit: {max: TOKENS_INPUT_MAX_NUMBER}}"></app-error-message>
              <app-error-message controlName="AmountInTokens"
                                 key="accuracy"
                                 [template]="templates.invalidAccuracyError"
                                 [templateContext]="{$implicit: {accuracy: TOKENS_INPUT_ACCURACY}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-12">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label>
              <span i18n>Amount, {{baseCurrencyCode}}</span>
            </mat-label>
            <input matInput
                   formControlName="AmountInCurrency"
                   type="number"
                   [min]="CURRENCY_INPUT_MIN_NUMBER"
                   [step]="CURRENCY_INPUT_MIN_NUMBER"
                   required>
            <mat-error>
              <app-error-message controlName="AmountInCurrency"></app-error-message>
              <app-error-message controlName="AmountInCurrency"
                                 key="min"
                                 [template]="templates.minNumberError"
                                 [templateContext]="{$implicit: {min: CURRENCY_INPUT_MIN_NUMBER}}"></app-error-message>
              <app-error-message controlName="AmountInCurrency"
                                 key="max"
                                 [template]="templates.maxNumberError"
                                 [templateContext]="{$implicit: {max: CURRENCY_INPUT_MAX_NUMBER}}"></app-error-message>
              <app-error-message controlName="AmountInCurrency"
                                 key="accuracy"
                                 [template]="templates.invalidAccuracyError"
                                 [templateContext]="{$implicit: {accuracy: CURRENCY_INPUT_ACCURACY}}">
              </app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-12 use-global-rate">
          <mat-checkbox formControlName="UseGlobalCurrencyRate">
            <span i18n>Use Global Conversion Rate</span>
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="form-navigation d-flex justify-content-between align-items-center">
    <button type="button"
            class="btn btn-outline-brand btn-upper btn-bold"
            style="min-width: 120px;"
            routerLink="/admin/platform/partners"
            [queryParams]="{ page: previousPage, pageSize: previousPageSize }">Cancel</button>
    <button type="submit"
            [hidden]="!hasEditPermission"
            class="btn btn-brand btn-upper btn-bold"
            style="min-width: 120px;"
            [disabled]="partnerForm.disabled">Save</button>
  </div>
</form>

<ng-template #onlyLetters
             let-ctx>
  <div i18n>The field should contains only letters.</div>
</ng-template>

<ng-template #phoneNumberError
             let-ctx>
  <div i18n>Please enter a valid phone number.</div>
</ng-template>

<ng-template #emailError
             let-ctx>
  <div i18n>Please enter a valid email address.</div>
</ng-template>

<!--translates-->
<div #editChangeClientLoginMessageTemplate
     hidden
     i18n>Do you want to generate new partner login? Keep in mind that the password will be changed as well!</div>

<div #createChangeClientLoginMessageTemplate
     hidden
     i18n>Do you want to generate new partner login?</div>
