<ng-template #subHeaderTemplate>
  <div class="kt-subheader kt-grid__item"
       id="kt_subheader">
    <div class="kt-container kt-container--fluid">
      <div class="kt-subheader__main">
        <div class="kt-subheader__toolbar"
             id="kt_subheader_search">
          <span class="kt-subheader__desc"
                [hidden]="!isPartnerAdmin"
                i18n>Enter Business Unit details</span>
          <span class="kt-subheader__desc"
                [hidden]="isPartnerAdmin"
                i18n>Enter Program Member details</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
  <app-partner-form *ngIf="!loading"
                    [type]="FormMode.Edit"
                    (submitSuccess)="onFormSubmit($event)"
                    [partner]="partner"
                    [provider]="provider">
  </app-partner-form>

  <div class="spinner-container"
       *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div #headerTitle
     hidden
     i18n>Edit Business Unit</div>

<div #headerTitleForPartner
     hidden
     i18n>Edit Program Member</div>

<div #successMessage
     hidden
     i18n>Edited successfully.</div>
